<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YUMA - Dashboard</title>
    <link rel="stylesheet" href="static/style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
                <img src="static/yuma_logo.svg" alt="YUMA Logo">
                <span>YUMA</span>
            </div>
            <nav class="main-nav">
                <ul>
                    <li><a href="#" class="nav-item new">
                        <span class="material-icons">add</span>
                        New
                    </a></li>
                    <li><a href="#" class="nav-item key" id="open-key-popup"> <span class="material-icons">vpn_key</span>
                        Key
                    </a></li>
                    <li><a href="#" class="nav-item saved">
                        <span class="material-icons">bookmark</span>
                        Saved
                    </a></li>
                </ul>
            </nav>
        </aside>

        <main class="content">
            <div class="welcome-message">
                <div class="yuma-logo-name"> <img src="static/yuma_logo.svg" alt="YUMA Logo Grande">
                    <h1>YUMA</h1>
                </div>
                <p>Para começarmos configure sua chave no campo KEY no menu</p>
                <div class="arrow">
                    &#8592;
                </div>
            </div>
        </main>
    </div>

    <div id="keyModal" class="modal">
        <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Configurar Chave</h2>
        <form id="keyForm">
            <div class="form-group"> <label for="conversationModelSelect">Modelo de Conversação:</label>
                <select id="conversationModelSelect" name="conversationModel">
                    {% for name, model_id in conversation_models.items() %}
                        <option value="{{ model_id }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group"> <label for="toolcallingModelSelect">Modelo de ToolCalling:</label>
                <select id="toolcallingModelSelect" name="toolcallingModel">
                    {% for name, model_id in toolcalling_models.items() %}
                        <option value="{{ model_id }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div class="form-group"> <label for="apiKey">API Key:</label>
                <div class="input-container"> <input type="password" id="apiKey" name="apiKey" placeholder="Digite sua chave">
                    <span class="material-icons toggle-password" id="toggle-key-visibility">visibility_off</span> </div>
            </div>

            <small id="apiKeyError" class="error-message"></small>
            
            <button type="submit" class="save-button"> Salvar
                <span id="saveLoader"></span>
            </button>
            </form>
        </div>
    </div>
    <script>
        const KEY_EXISTS = {{ key_exists | tojson }};
    </script>
    <script src="static/script.js"></script>
</body>
</html>